.breadcrumb {
	background-color: aquamarine;
	-webkit-clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 25% 50%, 0% 0%);
	clip-path: polygon(100% 0, 100% 50%, 100% 100%, 0 100%, 25% 50%, 0% 0%);
}