<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="author" content="Shinzo SAITO">
        <title>TOP ｜ HAL映画館　マスター管理</title>
    </head>
    <body>
        <header>
            <h1>TOP</h1>
            <p><a href="/ph34/movieTheater/public/logout.php">ログアウト</a></p>
        </header>
        <nav>
            <ul>
                <li><a href="/ph34/movieTheater/public/movie/showMovieList.php">映画一覧</a></li>
                <li><a href="/ph34/movieTheater/public/master/showMasterList.php">管理者リスト</a></li>
                <li><a href="/ph34/movieTheater/public/schedule/showScheduleList.php">スケジュール一覧</a></li>
                <li><a href="/ph34/movieTheater/public/fee/showFeeList.php">料金一覧</a></li>
                <li><a href="/ph34/movieTheater/public/survey/showSurveyList.php">アンケート一覧</a></li>
            </ul>
        </nav>
    </body>
</html>
